#mugginsHome{
	.mugginsMegaLogo{
		width: 286px;
	}
	.coverP{
		margin-bottom: 35px;
	}
	.section{
		/* border: 5px solid @mugginsGrey; */

		.sectionBgInfo{
			background: url(../images/coverSection.jpg) center center;
			padding: 50px 0;
		}

		.thumbContainer{
			padding: 50px 0 25px 0px;
		}
	}

	.twitterReview{
		position: relative;
		border: none;
		padding: 35px 0px;

		.controlTwitter{
			position: absolute;
			top: 0;
			width: 7%;
			height: 100%;
			font-size: 210px;
			text-align: center;
			line-height: 220px;
			line-height: 265px;
			color: @mugginsGrey;
			cursor: pointer;
			&#toRight{
				right: 0;
			}
			&#toLeft{
				left: 0;
			}

			&:hover, &:active{
				background: #fff;
				.animate;
				transiton-duration: 0.2s;
			}
		}
	}

	.sectionSeparator{
		h2{
			font-family: @MoonType;
		}
	}

	.promoContainer{
		.sectionSeparator;
		.mugginsBtnOB{
			margin-top: 15px;
		}
	}

	.mapSection{
		position: relative;
		padding: 36px 0px;
		background: #f4f4f4;
		.container{
			position: relative;
			z-index: 1000;

			.mapBlockInfo{
				background: @mugginsOrange;
				color: #fff;
				padding: 5px 0 5px 15%;
				margin-bottom: 25px;
				/* box-shadow: 0px 0px 0px 5px #e8862d; */
				/* border: 2px solid #fff; */
				border-radius: 6px;

				h3{
					font-family: @MoonType;

					div{
						width: auto;
						padding-right: 42%;
					}
				}

				p{
					margin-bottom: 18px;
				}
			}
		}
		@import "components/mapSection.less";
	}


	.bgSeparatorSocial{
		background: #e8862d url(../images/social_bg.svg) no-repeat;
		padding: 80px 0px;
		background-position: 0% 31%;
	}

	.bgSeparatorPeople{
		background: #e8862d url(../images/people_bg.svg);
		background-size: cover;
		padding: 80px 0px;
		background-repeat: no-repeat;
		background-position: center 77%;
	}

	@media (max-width: 990px){
		.titleLogo{
			margin-top: 80px;
		}
	}
}