@import "variables.less";
@import "utils.less";
@import "mugginsComponents.less";
@import "strapboot.less";
@import "patterns.less";
.sectionSeparator{
	border : none;
	background: @mugginsOrange;
	padding: 15px 0;
	font-family: @MoonType;
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	//border: 6px solid #3d3d3d;
	border-left: none;
	border-right: none;
}

.img-responsive{
	margin: 0 auto;
}

.mugginsQuote{
	border-left-color: @mugginsOrange; 
	border: none;
	background: #fff;
	footer{
		font-family: @MoonType;
		font-weight: bold;
	}
}

a{
	color:@mugginsOrange;
}

@import "navbar.less";
@import "home.less";
@import "recettes.less";
@import "produit.less";
@import "blog.less";
@import "commander.less";
@import "mug.less";
@import "footer.less";

.sectionPara{
	
	background: #222;
	color: #fff;
	padding: 8px 14px;
	font-size: 1.1em;
	margin-bottom: 25px;
	line-height: 1.5em;
}