//ClearFix
.group{
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}	
}

.hidden{
	opacity: 0;
	display: none;
}

.visible{
	opacity: 1;
	display: block;
}

.visibleInline{
	.visible;
	display: inline;
}

html, body, #map-canvas{
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: @OpenSans;
}

.no-borders{
	border: none !important;
}

.animate{
	transition : all 0.5s linear;
}

