@mugginsOrange : #E8862D;
@mugginsGrey : #3D3D3D;


@font-face {
    font-family: 'MoonTypeFace';
    src: url(../fonts/MoonTypeFace/Moon_Light.otf);
}

@font-face {
    font-family: 'MoonTypeFace';
    src: url(../fonts/MoonTypeFace/Moon_Bold.otf);
    font-weight: bold;
}

@MoonType : 'MoonTypeFace';